.formContainer,
.authenticate {
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    width: 15rem;
}

.formContainer {
    background-color: #afdff5;
}

.authenticate {
    background-color: #CBC3E3;
}

h2 {
    margin: 0px;
}

input {
    width: 7rem;
}

.error {
    background-color: red;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.success {
    background-color: #47ba47;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}